@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

body {
    font-family: 'Afacad';
}


html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* *::-webkit-scrollbar {
  width: 12px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
} */